.chat {
  // height: 100vh;
  height: var(--app-height);
  .row {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .chat {
    .row {
      .activeWindow {
        display: flex !important;
      }
    }
  }
}
