.chatWindow {
  display: flex;
  height: var(--app-height);
  width: 65%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .row {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    transition: 0.3s ease-in-out;
  }
  .chatInfoContainer {
    transition: 0.3s ease-in;
    background: var(--bg-color);
    width: 0;
  }
  .startWindow {
    background: var(--sidebar-bg);
    height: 100%;
    width: 100%;
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90%;

      .animation {
        width: 80%;
        max-width: 280px;
        height: auto;
        object-fit: contain;
      }
      .text {
        text-align: center;
        font-size: 15px;
        p {
          color: var(--secondary-text);
        }
        :first-child {
          margin-bottom: 6px;
        }
      }
    }
  }
  .previewHeader {
    height: 60px;
    background: var(--sidebar-bg);
    width: 100%;
    .row {
      align-items: center;
      justify-content: center;
      p {
        font-size: 14px;
        color: var(--text-color);
      }
    }
  }
}

.open {
  .row {
    width: 60%;
  }
  .chatInfoContainer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .chatWindow {
    display: none;
    width: 100%;
    .startWindow {
      display: none;
    }
  }

  .open {
    .row {
      width: 0;
    }
    .chatInfoContainer {
      width: 100%;
    }
  }
}
