.leftPanel {
  height: 100%;
  background: var(--sidebar-bg);
  width: 13%;

  .row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    .topList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    .bottomList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .bottomItem {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #c9c6c6f0;
        }
      }
    }

    .icon {
      color: var(--icon);
      width: 28px;
      height: auto;
    }
  }
}
