.popupOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  .popupModal {
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19),
      0 12px 15px 0 rgba(11, 20, 26, 0.24);
    background: var(--modal-background);
    width: 450px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 15px 0;
    border-radius: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;

    .container {
      width: 90%;
      .row {
        flex-direction: column;
        gap: 15px;
        .header {
          margin-bottom: 10px;
          h2 {
            color: var(--secondary-dark);
            font-weight: 400;
            font-size: 20px;
          }
        }
        .content {
          color: var(--secondary-dark);
          font-size: 14px;
          margin-left: 5px;
          p {
            color: var(--secondary-dark);
            font-weight: 400;
            margin-bottom: 15px;
          }

          .themeOption {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 15px;
            font-size: 13px;

            input[type="radio"] {
              cursor: pointer;
              appearance: none;
              -webkit-appearance: none;
              background-color: transparent;
              border: 1px solid var(--icon-fixed);
              width: 18px;
              height: 18px;
              border-radius: 50%;
              position: relative;
              cursor: pointer;
              transition: 0.3s;
              &:checked {
                border-color: var(--teal);
                &::after {
                  background-color: var(--teal);
                }
              }

              &::after {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
              }
            }

            label {
              cursor: pointer;
            }
          }
        }

        .footer {
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          justify-content: flex-end;
          .btnGroup {
            display: flex;
            gap: 10px;
            .cancelBtn {
              color: var(--teal);
              background: transparent;
              border: 1px solid var(--button-border);
              &:hover {
                box-shadow: 1px -3px 1px 1px rgba(79, 0, 26, 0),
                  0 2px 10px 0px rgba(109, 11, 26, 0.09);
                color: var(--button-hover-text-color);
              }
            }

            .confirmBtn {
              background: var(--teal);
              color: var(--chat-bg);
              &:hover {
                box-shadow: inset 6px 15px 10px 3px rgba(79, 0, 26, 0),
                  inset 9px 15px 10px 0px rgba(19, 20, 26, 0.1);
                background: var(--button-hover-bg-color);
              }
            }

            .confirmBtn,
            .cancelBtn {
              padding: 8px 20px;
              border-radius: 30px;
              font-size: 14px;
              font-weight: 500;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
  .popupModal.opened {
    transform: scale(1);
    opacity: 1;
  }

  .popupModal.closed {
    transform: scale(0.8);
    opacity: 0;
  }
}
