.settings {
  margin: 0 auto;
  width: 100%;
  border: 1px solid var(--scrollbar-color);
  height: 100%;
  .row {
    flex-direction: column;
    background: var(--bg-color);
    .heading {
      background: var(--bg-color);
      padding: 20px 0 20px 15px;
      user-select: none;
      h2 {
        color: var(--text-color);
      }
    }

    .settingContainer {
      display: flex;
      background: var(--bg-color);
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) transparent;
      .container {
        width: 90%;
        .profileInfo {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 25px;
          margin-top: 10px;
          .profileImg {
            width: 90px;
            height: 90px;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
        }

        .settingList {
          display: flex;
          flex-direction: column;
          width: 95%;
          margin: 0 auto;
          align-items: flex-start;
          justify-content: flex-start;
          .settingItem {
            width: 100%;
            display: flex;
            gap: 15px;
            padding: 10px 0;
            font-size: 17px;
            color: var(--text-color);
          }
          .logout {
            color: var(--danger);
            .icon {
              color: var(--danger);
            }
          }
        }
      }
    }
  }
}
