* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}
