:root {
  --bg-color: #ffffff;
  --chat-bg: #f1f1f1;
  --text-color: #111b21;
  --secondary-text: #555555;
  --sent-msg: #d9fdd3;
  --received-msg: #ffffff;
  --accent: #25d366;
  --link: #0078f4;
  --icon: #54656f; // #54656F #3B4A54
  --sidebar-bg: #f0f2f5;
  --sidebar-hover: #f0f2f5; // #d9dbdf;
  --active-tab-bg: #e7fce3;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

// Dark Mode Colors
.dark-mode {
  --bg-color: #111b21;
  --chat-bg: #1e1e1e;
  --text-color: #e1e1e1;
  --secondary-text: #8a8a8a;
  --sent-msg: #005c4b;
  --received-msg: #202c33;
  --accent: #25d366;
  --link: #0078f4;
  --icon: #aebac1;
  --sidebar-bg: #202c33; //#8696A0
  --sidebar-hover: #2a3942; // #202C33
  --active-tab-bg: #0a332c;
}
